:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(0, 0%, 0%, 1);
  --border-color: hsla(0, 0%, 0%, 1);
  --inactive-color: hsla(0, 0%, 50%, 0.5);
  --button-bg-color: hsla(0, 0%, 0%, 0);
}

#problem-tester, #problem-analyzer {
  margin: .2em;
  padding: .5em;
  border: .1em solid black;
  border-radius: .25em;
}

button {
  font-size: 1.5em;
}

#test-function {
  width: 100%;
}

#problem-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  padding: .5rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
}

math {
  font-family: sans-serif;
  font-size: 2rem;
}

div:has(> #svg-number-line) {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
}

#svg-number-line {
  height: 45%;
  width: 100%;  
}

.ticks {
  transform-origin: 0% 70%;
}

#svg-pie {
  height: 98%;
  margin-right: .5rem;
}

#svg-line {
  width: 100%;
}

.frac-rec {
  stroke: black;
}

path {
  /*fill-opacity: 0%;*/
  stroke: black;
}

.frac-paths-clear {
  fill-opacity: 0;
}

#column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%
}

g.pie-slice {
  fill-opacity: 0;
  stroke: black;
}

#problem-analyzer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#answer {
  height: 2rem;
}

#math-strategy-interface__problem-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  width: 304px;
  border: .1rem solid black;
}

#analysis-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: .2em;
  margin-bottom: .5em;
}

label {
  font-size: 1.25em;
  text-align: right;
}

input {
  font-size: 1.25em;
}

#analyze-function {
  grid-column: 1 / 3;
}

#analysis-deets {
  height: 2em;
  text-align: center;
  font-size: 1.25em;
}

#svgBox {
  height: 47.5vw;
  width: 95vw;
}

.span-box {
  padding: .25rem;
  border: .15rem solid black;
  border-radius: .5rem;
}

.span-stroke {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: .05rem black;
}

.span-shake {
  animation-name: numberShake;
  animation-duration: 0.25s;
  animation-iteration-count: infinite;
}

@keyframes numberShake {
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
}