:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(0, 0%, 0%, 1);
  --border-color: hsla(0, 0%, 0%, 1);
  --inactive-color: hsla(0, 0%, 50%, 0.5);
  --button-bg-color: hsla(0, 0%, 0%, 0);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  transition: all 250ms;
}

button {
  color: var(--text-color);
  background-color: var(--button-bg-color);
  font-family: sans-serif;
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
  transition: all 250ms;
}

.big-button {
  margin: 1vh;
  padding: 1vh;
  font-size: 2rem;
}

.screen {
  width: 100vw;
  height: 95vh;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

.marquee {
  font-size: 10vw;
  text-align: center;
  color: var(--text-color);
}

@media screen and (orientation:landscape) {

  /*body {
    display: flex;
    justify-content: center;
  }*/

  .screen {
    width: 30vw !important;
    min-width: 20rem;
  }

  .marquee {
    font-size: calc(.1 * 30vw);
  }
}