:root {
  --text-color: hsla(0, 0%, 0%, 1);
  --bg-color: hsla(0, 0%, 100%, 1);
  --border-color: hsla(0, 0%, 0%, 1);
  --button-bg-color: hsla(0, 0%, 0%, 0);
  --inactive-color: hsla(0, 0%, 50%, 0.5);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  transition: all 250ms;
}

button {
  margin: 1vh;
  color: var(--text-color);
  background-color: var(--button-bg-color);
  font-family: sans-serif;
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
  transition: all 250ms;
}


.button-big {
  padding: 1vh;
  font-size: 2rem;
}

.button-medium {
  font-size: 1.5rem;
}

.button-inactive {
  filter: opacity(25%);
}

.button-ready {
  animation-name: buttonPulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.button-selected {
  color: var(--bg-color);
  background-color: var(--text-color);
}

@keyframes buttonPulse {
  20%   {
    filter: invert(100%);
    background-color: var(--bg-color);    
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid {
  display: grid;
}

.operator-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

.operator-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.operator-grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.marquee {
  font-size: 10vw;
  text-align: center;
  color: var(--text-color);
}

.marquee-small {
  font-size: clamp(1em, 8vw, 2em);
  text-align: center;
  color: var(--text-color);
  margin: 1rem;
}

.screen {
  width: 100vw;
  height: 95svh;
}

.span-box {
  padding: .25rem;
  border: .15rem solid var(--border-color);
  border-radius: .5rem;
}

.span-stroke {
  display: contents;
  color: var(--bg-color);
  font-weight: bold;
  -webkit-text-stroke: .05rem var(--text-color);
  paint-order: stroke fill;
}

@media screen and (orientation:landscape) {

  .screen {
    width: 30vw !important;
    min-width: 20rem;
  }

  .marquee {
    font-size: calc(.1 * 30vw);
  }

  .math-interface {
    grid-template-rows: 6rem 20% 40% !important;
  }
}

