/*
  Settings
    Sound
      Select Key
*/

.key-buttons {
  margin: 0;
  height: 4rem;
  font-size: 1rem;
  border: .1rem solid var(--border-color);
  border-radius: .25rem;
}

#key-selection-screen__select-key__black-keys {
  display: grid;
  grid-template-columns: 7.14% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 7.14%;
  justify-content: center;
  gap: .1rem;
  margin: 0 1rem 0;
}

#key-selection-screen__select-key__black-keys > button {
  color: var(--bg-color);
  background-color: var(--text-color);
}

#key-1 {
  grid-column: 2 / 3;
}

#key-6 {
  grid-column: 5 / 6;
}

#key-selection-screen__select-key__white-keys {
  display: grid;
  grid-template-columns: 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29%;
  justify-content: center;
  gap: .1rem;
  margin: .1rem 1rem 1rem;
}

#key-selction-screen__select-octave__octaves {
  display: grid;
  grid-template-columns: 7.14% 14.29% 14.29% 14.29% 14.29% 14.29% 14.29% 7.14%;
  justify-content: center;
  gap: .1rem;
  margin: 0 1rem 0.5rem;
}

#octave-3 {
  grid-column: 3 / 4;
}

/*
  Settings
    Number Pad
*/

#number-pad-screen {
  grid-template-rows: 20% 10% 50% 20%;
  grid-template-columns: auto;
}

#number-pad-screen__number-pad-changer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: var(--text-color);

  .button-big {
    height: 5rem;ddd
  }

  #number-pad-screen__q-sub-switch, #number-pad-screen__key-flip-switch {
    padding: .2rem;
    height: 5rem;

    div {
      height: 2rem;
      width: 2rem;
      margin-top: -2rem;
      background-color: var(--text-color);
      border-radius: .75rem;
      transition: all 200ms;
    }
  }

}

#number-pad-screen__number-pad-corner {
  --_cell-size: 3rem;
  --_corner-radius: .5rem;

  grid-template-columns: var(--_cell-size) var(--_cell-size);
  grid-template-rows: var(--_cell-size) var(--_cell-size);
  justify-content: center;
  align-content: center;

  button {
    margin: 0;
    border: .1rem solid var(--border-color);
  }

  #number-pad-screen__top-left-button {
    border-radius: var(--_corner-radius) 0 0 0;
    border-width: .2rem .1rem .1rem .2rem;
  }
  
  #number-pad-screen__top-right-button {
    border-radius: 0 var(--_corner-radius) 0 0;
    border-width: .2rem .2rem .1rem .1rem;
  }
  
  #number-pad-screen__bottom-right-button {
    border-radius: 0 0 var(--_corner-radius) 0;
    border-width: .1rem .2rem .2rem .1rem;
  }
  
  #number-pad-screen__bottom-left-button {
    border-radius: 0 0 0 var(--_corner-radius);
    border-width: .1rem .1rem .2rem .2rem;
  }
}

#number-pad-screen__current-number-pad {

  display: grid;
  justify-content: center;

  .current-span {
    grid-area: 1 / 1;
    transition: all 200ms;
    font-size: 3rem;
    transform-origin: center center 6rem;
  }
}
#number-pad-screen__number-pad-section {
  justify-self: center;
  display: flex;
  justify-content: center;
  width: 85%;
  transition: all 100ms;
}

#number-pad-screen__number-pad-section > #number-pad {
  height: 100%;
}

#number-pad-screen__back-button {
  align-self: center;
}