#strategy-groups-screen__info {
  margin-top: auto;
  margin-bottom: 2rem;
}

#strategy-groups-screen__back-button {
  margin-bottom: auto;
}

#strategy-detail-screen {
  grid-template-rows: 10% 15% auto auto auto;
  align-content: start;
}

#strategy-detail-screen__strategy-detail {
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
}

#strategy-detail-screen__strategy-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#strategy-detail-screen__strategy-grid > button {
  font-size: 1.5rem;
  border-radius: .75rem;
}

#notification-screen {
  justify-content: space-evenly;
}