#select-operation-screen__operation-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
}

/*These two work CSS magic to make my buttons square*/

#select-operation-screen__operation-grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#select-operation-screen__operation-grid > *:first-child{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


#strategy-detail-screen {
  grid-template-rows: 10% 15% auto auto auto;
  align-content: start;
}

#strategy-detail-screen__strategy-detail {
  text-align: center;
  font-size: 1.5rem;
}

#strategy-detail-screen__strategy-grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#strategy-detail-screen__strategy-grid > button {
  font-size: 1.5rem;
  border-radius: .75rem;
}