#problem-tester, #problem-analyzer {
  margin: .2em;
  padding: .5em;
  border: .1em solid black;
  border-radius: .25em;
}

button {
  font-size: 1.5em;
}

#test-function {
  width: 100%;
}

#problem-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
  padding: .5rem;
  font-size: 25.6px;
  font-family: sans-serif;
  text-align: center;
}

#problem-analyzer {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#answer {
  
}

#equation {
  height: 96px;
  width: 304px;
  border: .1rem solid black;
}

#analysis-inputs {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: .2em;
  margin-bottom: .5em;
}

label {
  font-size: 1.25em;
  text-align: right;
}

input {
  font-size: 1.25em;
}

#analyze-function {
  grid-column: 1 / 3;
}

#analysis-deets {
  height: 2em;
  text-align: center;
  font-size: 1.25em;
}

#svgBox {
  height: 47.5vw;
  width: 95vw;
}

.span-box {
  padding: .25rem;
  border: .15rem solid black;
  border-radius: .5rem;
}

.span-stroke {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: .05rem black;
}