:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --text-color: hsla(0, 0%, 0%, 1);
  --border-color: hsla(0, 0%, 0%, 1);
  --inactive-color: hsla(0, 0%, 50%, 0.5);
  --button-bg-color: hsla(0, 0%, 0%, 0);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  transition: all 250ms;
}

button {
  color: var(--text-color);
  background-color: var(--button-bg-color);
  transition: all 250ms;
}

.screen {

}

.marquee {
  font-size: 3em;
  text-align: center;
  color: var(--text-color);
}

.bigButton {
  margin: 1rem;
  padding: .5rem;
  font-size: 2rem;
  font-family: sans-serif;
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
}

.readyButton {
  animation-name: buttonPulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.inactiveButton {
  filter: opacity(25%);
}

/*
  Base page for the program
*/
#titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--text-color);
}

#titleDiv {
  margin: 3rem;
}

/*
  Mode Select Screen
*/
#modeSelectScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--text-color);
}


/*
  Select an Operation screen
*/
#skillsSelectScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 95vh;
}

#skillsSelect {
  display: grid;
  grid-template-columns: 10rem 10rem;
  grid-template-rows: 10rem 10rem auto;
  justify-content: center;
}

#skillsSelect > button {
  margin: .25rem;
  font-size: 4rem;
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
}

#skillsScreenBackButton {
  grid-column: 1 / 3;
}

/*
  Select skill category screen
*/
#operationBaseScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#operationBaseScreenInfo {
  margin: 3rem 0 3rem 0;
}

/*
  Select individual skills screen
*/
#skillsScreen {
  display: grid;
  grid-template-rows: 10% 15% auto auto auto;
  height: 95vh;
  align-content: start;
}

#skillDetail {
  text-align: center;
  font-size: 2rem;
}

#skillGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  row-gap: .5rem;
}

.skillButton {
  height: 3rem;
  width: 4rem;
  font-size: 1.5rem;
  font-family: sans-serif;
  border: .2rem solid var(--border-color);
  border-radius: .5rem;
}

/*#progressionSelectScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#progressionSelectScreen > button {
  margin: .5rem;
  padding: .5rem;
  font-size: 2rem;
  font-family: sans-serif;
  background-color: var(--button-bg-color);
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
}

#startGuide {
  display: flex;
  justify-content: center;
  margin: 3rem 0 3rem 0;
  font-size: 2.5rem;
  color: var(--text-color);
}

#activeSkills {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: space-between;
  margin: .5rem;
}

.skillDisplay {
  padding: .5rem;
  height: 4rem;
  font-size: 1rem;
  background-color: var(--button-bg-color);
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
}
*/

#inputScreen {
  display: grid;
  grid-template-columns: 95%;
  grid-template-rows: 3rem 25% 60%;
  justify-content: center;
  align-content: center;
  height: calc(100vh - 2rem);
  width: 100vw;
  text-align: center;
  padding-bottom: 2rem;

}

#problemDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--text-color);
  transition: padding 50ms;
}

#solutionDisplay {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 2rem;
  color: var(--text-color);
}

#numberPad {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 95vw;
  width: 95vw;
  border: .1rem solid var(--border-color);
  border-radius: 1rem;
}

#numberPad > button {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  background-color: var(--button-bg-color);
  border: .1em solid var(--border-color);
  box-shadow: inset .25rem .25rem 1rem hsla(0, 100%, 0%, .0625);
  transition: background-color 100ms;
}

#button1 {
  border-top-left-radius: .8rem;
}

#buttonBack {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  border-top-right-radius: .8rem;
}

#buttonSubmit {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

#button0 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#buttonQuit {
  border-radius: 0 0 .8rem .8rem;
  grid-column: 1 / 5;
}

/*
  Settings screen styles
*/

#settingsBaseScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--text-color);
}

#themeSelectionScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--text-color);
}


.themeButton {
  margin: 1rem;
  padding: .5rem;
  color: var(--text-color);
  font-size: 2rem;
  font-family: sans-serif;
  background-color: var(--button-bg-color);
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
}

@keyframes buttonPulse {
  20%   {
    filter: invert(100%);
    background-color: var(--bg-color);    
  }
}

#notification {
  position: absolute;
  height: 0vh;
  width: 0vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 0rem;
  text-align: center;
  border: .2rem solid var(--border-color);
  border-radius: 1rem;
  animation-name: notificationWindowPortrait;
  animation-duration: 4s;
}

@keyframes notificationWindowPortrait {
  10%   {
    height: 25vh;
    width: 90vw;
    font-size: 2rem;
  }
  90%   {
    height: 25vh;
    width: 90vw;
    font-size: 2rem;
  }
  100%   {
    height: 0vh;
    width: 0vw;
    font-size: 0rem;
  }
}

@keyframes notificationWindowLandscape {
  10%   {
    height: 25vh;
    width: 25vw;
    font-size: 2rem;
  }
  90%   {
    height: 25vh;
    width: 25vw;
    font-size: 2rem;
  }
  100%   {
    height: 0vh;
    width: 0vw;
    font-size: 0rem;
  }
}


@media screen and (orientation:landscape) {

  body {
    display: flex;
    justify-content: center;
  }

  .screen {
    width: 30vw !important;
    min-width: 20rem;
  }

  #progressionInputScreen {
    justify-content: initial;
  }

  #numberPad {
    height: auto;
    width: auto;
  }

  #notification {
    width: 0vw;
    animation-name: notificationWindowLandscape;
    animation-duration: 4s;
  }

}
