:root {
  --bg-color: hsla(0, 0%, 100%, 1);
  --main-color: hsla(0, 0%, 0%, 1);
  --inactive-color: hsla(0, 0%, 50%, 0.5);
  --transparent: hsla(0, 0%, 0%, 0);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: sans-serif;
  transition: all 250ms;
}

.screen {

}

/*
  Sign In/Register Screen
*/

/*
  Wrapper for the elements
*/
#titleScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--main-color);
}

/*
  The name of the program
*/
#titleDiv {
  display: flex;
  justify-content: center;
  margin: 3rem;
  font-size: 3rem;
}

/*
  The buttons to sign in and register
*/
#titleScreen > button {
  margin: 1rem;
  padding: .5rem;
  font-size: 2rem;
  font-family: sans-serif;
  background-color: var(--transparent);
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
}

#modeSelectScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100vw;
  text-align: center;
  color: var(--main-color);
}

#modeSelectScreen > button {
  margin: 1rem;
  padding: .5rem;
  font-size: 2rem;
  font-family: sans-serif;
  background-color: var(--transparent);
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
}

#levelSelectScreen {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  color: var(--main-color);
}

#levelSelectScreen > button {
  margin: .5vh;
  padding: .5vh;
  /*font-size: 5vh;*/
  font-size: 3vh;
  font-family: sans-serif;
  background-color: var(--transparent);
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
}

#backButton {
  grid-column: 1 / 3;
}

#readyScreen, #practiceScreen {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3rem 25% 50%;
  justify-content: center;
  align-content: end;
  height: calc(100vh - 2rem);
  width: 100vw;
  text-align: center;
  padding-bottom: 2rem;
}

#readyDisplay {

}

#problemDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: padding 50ms;
}

#readyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  font-size: 2rem;
  font-family: sans-serif;
  background-color: var(--transparent);
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  transition: filter 500ms;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.8rem;
  color: var(--main-color);
  transition: all 750ms;
  transition-timing-function: ease-in;
  transition-delay: 200ms;
}

#solutionDisplay {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 2rem;
}

#numberPad {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 95vw;
  width: 95vw;
  border: .1rem solid var(--main-color);
  border-radius: 1rem;
}

#numberPad > button {
  font-size: 1rem;
  font-weight: bold;
  font-family: sans-serif;
  background-color: var(--transparent);
  border: .1em solid var(--main-color);
  box-shadow: inset .25rem .25rem 1rem hsla(0, 100%, 0%, .0625);
  transition: background-color 100ms;
}

#button1 {
  border-top-left-radius: .8rem;
}

#buttonBack {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  border-top-right-radius: .8rem;
}

#buttonSubmit {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

#button0 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#buttonQuit {
  border-radius: 0 0 .8rem .8rem;
  grid-column: 1 / 5;
}

@media screen and (orientation:landscape) {

  body {
    display: flex;
    justify-content: center;
  }

  .screen {
    /*width: 25vw !important;*/
    width: 30vw !important;
  }

  #practiceScreen {
    justify-content: initial;
  }

  #numberPad {
    height: auto;
    width: auto;
  }
}
